@import "tailwindcss";


@layer utilities {
  body{
    background-color: #ffffff;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  input,
  textarea,
  select {
    background-color: #fff;
    color: #000;
    -webkit-appearance: none;
  }
  .custom_shadow {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  }
  .scrolling_testimonial_wrapper {
    animation: scrollText 35s linear infinite;
  }

  @keyframes scrollText {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .scroll::-webkit-scrollbar{
    display: none;
  }
}